// Import library functions for theme creation.
@import '~@angular/material/theming';

@mixin base-toggle-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($config-or-theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);

  // Define any styles affected by the theme.
  .mat-slide-toggle-thumb {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat-color($primary);
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: mat-color($primary);
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: mat-color($accent);
  }

  .mat-slide-toggle-bar {
    background-color: mat-color($accent);
  }
}

@mixin base-toggle-theme($theme) {
  // Extracts the color and typography configurations from the theme.
  $color: map-get($theme, toggle);

  // Do not generate styles if configurations for individual theming
  // systems have been explicitly set to `null`.
  @if $color != null {
    @include base-toggle-color($color);
  }
}
